
body {
	margin: 0;
}

#container {
	width: 616px;
	margin: 0 auto;
	padding-top: 50px;
}

.cell {
	display: block;
	width: 150px;
	height: 150px;
	border:2px solid #FFF;
	float: left;
	cursor: pointer;
}

.hidden {
	display: block;
	width: 150px;
	height: 150px;
	border:2px solid #FFF;
	float: left;
	cursor: pointer;
	background-color: black;
}